*__pycache__*
#Ignore learner checkpoints directory
learner-checkpoints/
learner-checkpoints-pythia-batch4
learner-checkpoints-bloom-batch4

#Ignore logs directory
logs/
logs-distillation/
*.pt*

#Ignore data directory
data/

#Ignore plots directory
plots/

#Ignore distillation directory
distillation/

#sweep logs
logs-pythia-sweep-batch4/
logs-bloom-sweep-batch4/

#sweeping parameter files
params-sweeping/

#wandb logs
wandb/
